<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "CollectionPage",
      "@id": "{{ page.url | absolute_url }}#webpage",
      "url": {{ page.url | absolute_url | jsonify }},
      "name": {{ page.browser_title | default: page.title | default: site.title | default: site.data.profile.name | jsonify }},
      "description": {{ page.description | strip_newlines | jsonify }},
      "isPartOf": { "@id": "{{ site.url }}/#website" },
      "about": { "@id": "{{ site.url }}/#person" },
      "mainEntity": { "@id": "{{ page.url | absolute_url }}#repository-list" },
      "inLanguage": "en"
    },
    {
      "@type": "ItemList",
      "@id": "{{ page.url | absolute_url }}#repository-list",
      "name": "Public research repositories and analytical systems by Valentine Golden Ghanem",
      "numberOfItems": {{ site.data.portfolio.repositories.size }},
      "itemListOrder": "https://schema.org/ItemListOrderAscending",
      "itemListElement": [
        {%- for item in site.data.portfolio.repositories -%}
        {
          "@type": "ListItem",
          "position": {{ forloop.index }},
          "item": { "@id": "https://github.com/valentineghanem-bit/{{ item.repo }}#software" }
        }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    },
    {%- for item in site.data.portfolio.repositories %}
    {
      "@type": "SoftwareSourceCode",
      "@id": "https://github.com/valentineghanem-bit/{{ item.repo }}#software",
      "url": "https://github.com/valentineghanem-bit/{{ item.repo }}",
      "codeRepository": "https://github.com/valentineghanem-bit/{{ item.repo }}",
      "name": {{ item.title | jsonify }},
      "description": {{ item.summary | jsonify }},
      "creator": { "@id": "{{ site.url }}/#person" },
      "author": { "@id": "{{ site.url }}/#person" },
      "applicationCategory": "Epidemiology research software",
      "keywords": {{ item.methods | jsonify }},
      "spatialCoverage": {{ item.scale | jsonify }},
      "mainEntityOfPage": { "@id": "{{ page.url | absolute_url }}#webpage" }{% if item.dashboard_path or item.poster_path %},
      "hasPart": [
        {% if item.dashboard_path %}
        {
          "@type": "WebApplication",
          "name": {{ item.title | append: " interactive dashboard" | jsonify }},
          "url": "https://htmlpreview.github.io/?https://github.com/valentineghanem-bit/{{ item.repo }}/blob/main/{{ item.dashboard_path }}",
          "creator": { "@id": "{{ site.url }}/#person" }
        }{% if item.poster_path %},{% endif %}
        {% endif %}
        {% if item.poster_path %}
        {
          "@type": "CreativeWork",
          "name": {{ item.title | append: " research poster" | jsonify }},
          "url": "https://htmlpreview.github.io/?https://github.com/valentineghanem-bit/{{ item.repo }}/blob/main/{{ item.poster_path }}",
          "creator": { "@id": "{{ site.url }}/#person" }
        }
        {% endif %}
      ]{% endif %}
    }{% unless forloop.last %},{% endunless %}
    {%- endfor -%},
    {
      "@type": "ItemList",
      "@id": "{{ page.url | absolute_url }}#practice-archive",
      "name": "Applied project and laboratory research archive of Valentine Golden Ghanem",
      "numberOfItems": {{ site.data.portfolio.practice_archive.size }},
      "itemListElement": [
        {%- for item in site.data.portfolio.practice_archive -%}
        {
          "@type": "ListItem",
          "position": {{ forloop.index }},
          "item": {
            "@type": "CreativeWork",
            "@id": "{{ page.url | absolute_url }}#archive-{{ item.title | slugify }}",
            "name": {{ item.title | jsonify }},
            "description": {{ item.summary | jsonify }},
            "genre": {{ item.category | jsonify }},
            "creator": { "@id": "{{ site.url }}/#person" }
          }
        }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    },
    {% include jsonld/person-node.html %},
    {% include jsonld/organization-node.html %}
  ]
}
</script>
