<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "CollectionPage",
      "@id": "{{ page.url | absolute_url }}#webpage",
      "url": {{ page.url | absolute_url | jsonify }},
      "name": "Publications and preprints of Valentine Golden Ghanem",
      "description": {{ page.description | strip_newlines | jsonify }},
      "isPartOf": { "@id": "{{ site.url }}/#website" },
      "about": { "@id": "{{ site.url }}/#person" },
      "mainEntity": { "@id": "{{ page.url | absolute_url }}#publication-list" },
      "inLanguage": "en"
    },
    {
      "@type": "ItemList",
      "@id": "{{ page.url | absolute_url }}#publication-list",
      "name": "Research record of Valentine Golden Ghanem",
      "numberOfItems": {{ site.data.publications.size }},
      "itemListOrder": "https://schema.org/ItemListOrderDescending",
      "itemListElement": [
        {%- for pub in site.data.publications -%}
        {
          "@type": "ListItem",
          "position": {{ forloop.index }},
          "item": { "@id": {{ pub.doi_url | jsonify }} }
        }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]
    },
    {%- for pub in site.data.publications %}
    {
      "@type": {% if pub.record_type == "repository" %}"Dataset"{% else %}"ScholarlyArticle"{% endif %},
      "@id": {{ pub.doi_url | jsonify }},
      "url": {{ pub.doi_url | jsonify }},
      "name": {{ pub.title | jsonify }},
      "headline": {{ pub.title | jsonify }},
      "description": {{ pub.summary | jsonify }},
      "abstract": {{ pub.summary | jsonify }},
      "datePublished": {{ pub.year | append: "" | jsonify }},
      "author": { "@id": "{{ site.url }}/#person" },
      "creator": { "@id": "{{ site.url }}/#person" },
      "identifier": {{ pub.doi_url | jsonify }},
      "citation": {{ pub.citation | jsonify }},
      "creativeWorkStatus": {{ pub.status | jsonify }},
      "keywords": {{ pub.methods | jsonify }},
      {% if pub.record_type == "repository" %}
      "includedInDataCatalog": { "@type": "DataCatalog", "name": {{ pub.journal | jsonify }} },
      {% else %}
      "isPartOf": { "@type": "Periodical", "name": {{ pub.journal | jsonify }} },
      {% endif %}
      "mainEntityOfPage": { "@id": "{{ page.url | absolute_url }}#webpage" }{% if pub.links and pub.links.size > 0 %},
      "hasPart": [
        {%- for link in pub.links -%}
        {
          "@type": {% if link.label contains "dashboard" or link.label contains "Dashboard" %}"WebApplication"{% else %}"SoftwareSourceCode"{% endif %},
          "name": {{ link.label | jsonify }},
          "url": {{ link.url | jsonify }},
          "creator": { "@id": "{{ site.url }}/#person" }
        }{% unless forloop.last %},{% endunless %}
        {%- endfor -%}
      ]{% endif %}
    }{% unless forloop.last %},{% endunless %}
    {%- endfor -%},
    {% include jsonld/person-node.html %},
    {% include jsonld/organization-node.html %}
  ]
}
</script>
